@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

h1{
  text-align: center;
  font-size: 70px;
  font-style:oblique;
  padding-top: 150px;
}

h2{
  text-align: center;
  font-size: 50px;
  font-style:oblique;
  
}
 .homeDiv {
  margin: 0;
  width: 100%;
  height: 100vh;
}

/* Navbar */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #F2F2F2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  color: #f1356d;
}

/* EventsList */

.event-preview {
  padding: 10px 16px;
  margin: 20px 0px;
  border-bottom: 1px solid #fafafa;
}

.event-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.event-preview h2 { 
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

/* Dashboard */

.dashHome {
  margin: 10%;
}

.about{
  padding-left: 95vw;
  padding-top: 260px;
  border-radius: 50%;
  font-size: large;
  
}

.about a{
  text-decoration: none;
  background-color: aliceblue;
}

 .loginSign {
  text-align: center;
  width: 100%;
  float: left;
} 

.login{
  text-align: center;
  padding-left: 10vw;
  
}
